@import '../../../../../../styles/typography/typography';

mat-card{
	height: 90vh !important;
	position: relative;
}

mat-card-title{
	margin-bottom: 20px;
}

mat-card-content{
	height: 60vh;
	overflow-y: scroll;
	border: 2px dashed #CCC;
	padding: 20px;
}

