@import '../../../../../../styles/typography/typography';


@media (max-width: 560px) { 
	::ng-deep .cdk-overlay-pane {
		max-width: 90vw !important;
	}	
}


@media (max-width: 460px) { 
	::ng-deep .cdk-overlay-pane {
		max-width: 95vw !important;
	}	
}


mat-card{
	height: 90vh !important;
	position: relative;
}

@media (max-width: 460px) { 
	::ng-deep mat-dialog-container {
		padding: 10px !important;
	}	
}


mat-card-title{
	margin-bottom: 20px;

	span{
		font-size: 0.8em;
		color: #666;
	}
}

mat-card-content{
	height: 60vh;
	overflow-y: scroll;
	border: 2px dashed #CCC;
	padding: 20px;
}

@media (max-width: 460px) { 
	::ng-deep p {
		margin-top: 0px !important;
	}	
}


mat-card-actions{
	text-align: center;
	padding: 10px 10% 0 10%;
}