<mat-card>
	<mat-card-title>
		Viewing: {{ contract.name }}
	</mat-card-title>

	<mat-card-content>
		<pdf-viewer [src]="pdfSrc" 
					[render-text]="true"
				
		></pdf-viewer>
	</mat-card-content>	
	<mat-card-actions>
		<p>
			By clicking sign, you agree with the stuff in:
		</p>
		<h2> {{ contract.name }}</h2>
		<mat-card-subtitle>
			Are you sure you want to continue?
		</mat-card-subtitle>
		<button mat-button (click)="sign()">Sign</button>
		<button mat-button matDialogClose>Cancel</button>
	</mat-card-actions>	
</mat-card>

