<mat-card [ngClass]="{'signed': contract.signed !== null}">
	<mat-card-header class="title">
		<mat-card-title>{{ contract.name }}</mat-card-title>
	</mat-card-header>
	<div class="image-wrapper" mat-card-image>
		<img src="../../../../../../assets{{contract.thumbnailUrl}}.png" alt="Photo of a Shiba Inu">
	</div>
	<mat-card-content>
		<p>
			{{ contract.description }}
		</p>
		<img class="signed-image" *ngIf="contract.signed !== null" src="/assets/check.svg" alt="">
	</mat-card-content>
	<mat-card-actions>
		<button 
			mat-button 
			mat-raised-button
			(click)="view(contract)"
			class="view-sign-button"
		>
			VIEW 
			<span *ngIf="contract.signed === null">
				& SIGN
			</span>
		</button>
	</mat-card-actions>
</mat-card>