<mat-card>
	<mat-card-header>
		<mat-card-title>{{ contract.name }}</mat-card-title>
	</mat-card-header>
	<div class="image-wrapper" mat-card-image>
		<img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
	</div>
	<mat-card-content>
		<p>
			{{ contract.description }}
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button 
			mat-button 
			mat-raised-button
			(click)="view(contract)"
			class="view-sign-button"
		>
			VIEW 
			<span *ngIf="contract.signed === false">
				& SIGN
			</span>
		</button>
	</mat-card-actions>
</mat-card>