$text-colors: (
	primary: black,
	primary-subdued-1: #333,
	primary-subdued-2: #666,
	primary-inverse: white,
	primary-inverse-subdued-1: #EEE,
	primary-inverse-subdued-2: #DDD
);


.page-title{
	text-align: center;
}