@import "../../../../styles/components/item_container.scss";
@import "../../../../styles/layout/layout.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::ng-deep mat-card.home-destinations {
	@include item_container(2 * $std-padding);
	max-width: $content-box-max-width;
	margin-left: auto;
	margin-right: auto;
}

.logout > button {
	@extend .mat-button-primary !optional;
}

.home-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-row-gap: 20px;
	grid-auto-rows: main-content;
	grid-column-gap: 20px;
}

.summary{
	margin-top: 2 * $std-padding;
}

mat-card.security-groups-card{
	padding: 0px;
	padding-top: 15px;
	padding-left: 15px;
}

::ng-deep app-progress-indicator{
	margin: 0 auto;
}

app-contracts-summary, app-trainings-summary{
	display:grid;
	align-items: center;
	grid-template-columns: 1fr, minmax(300px, 1fr);
}

.instance-list{
	display: flex;
}

::ng-deep mat-expansion-panel.instances{
	max-width: 100%;
	margin: 0 auto;
}

::ng-deep .instances mat-expansion-panel-header > .mat-content {
	justify-content: space-around;
}

::ng-deep mat-card-title.instance-name{
	display: flex;
	justify-content: space-between;
	font-size: 1.1em;

	a{
		font-size: 0.9em;
	}
}

.home-container h2 {
	width: 100%;
	text-align: center;
	font-size: 0.9em;
}