:host{
	// width: 200px;
	// height: 200px;
	display: inline-block;
}

mat-card{
	width: 100%;
	height: 100%;
}

::ng-deep .mat-card-header-text{
	width: 100%;
	text-align: center;
}

.image-wrapper{
	padding: 30px;
}

mat-card-actions > .mat-button{
	display: block;
	margin: 0 auto;
}