<mat-card [ngClass]="{'pending': pending, 'approved': approved}">
	<mat-card-title class="name">
		{{ securityGroup.name }}
		{{ securityGroup | json}}
	</mat-card-title>
	<div class="icon-wrapper">
		<img src="../../../../../../assets/{{securityGroup.iconName}}.png" alt="">
	</div>	
	<mat-card-content class="description">
		<p>
			{{ securityGroup.name }}
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button 
			mat-button
			mat-raised-button 
			*ngIf="securityGroup.status !== 'Approved' && securityGroup.status !== 'Pending'"
			(click)="raiseAccessRequest()"
		>
			Request Accesss
			{{ securityGroup.status }}
		</button>
		<div *ngIf="securityGroup.status === 'Pending'" class="waiting-message">
			awaiting admin approval...
		</div>
	</mat-card-actions>
</mat-card>