:host{
	margin-bottom: 20px;
}

mat-card{
	height: 220px;
	width: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin: 0 auto;
	border-radius: 3px;

	&.pending{
		--webkit-box-shadow: 3px 3px 12px -7px rgba(196,196,22,1);
		-moz-box-shadow: 3px 3px 12px -7px rgba(196,196,22,1);
		box-shadow: 3px 3px 12px -7px rgba(196,196,22,1);
		border: 1px solid rgba(196,196,22,1);
	}

	&.approved{
		--webkit-box-shadow: 3px 3px 12px -7px rgba(54,171,43,1);
		-moz-box-shadow: 3px 3px 12px -7px rgba(54,171,43,1);
		box-shadow: 3px 3px 12px -7px rgba(54,171,43,1);
		border: 1px solid rgba(54,171,43,1);
	}
}

mat-card-title.name{
	font-size: 1em;
	height: 40px;
	overflow: hidden;
}

.icon-wrapper{
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 0 auto;
}

mat-icon{
	width: 100%;
	text-align: center;
	font-size: 3em;
}

::ng-deep .mat-card-header-text{
	width: 100%;
	text-align: center;
}

.image-wrapper{
	padding: 30px;
}

mat-card-content.description{
	height: 15px;
}

mat-card-actions > .mat-button{
	display: block;
	margin: 0 auto;
}

.waiting-message{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 0.8em;
	width: calc(100% - 20px);
	text-align: center;
	color: green;
}
.mat-card>.mat-card-actions:last-child{
	margin-bottom: 0px;
}