<mat-card>
	<mat-card-header>
		<mat-card-title>
			{{ securityGroup.name }}
		</mat-card-title>
	</mat-card-header>
	<div class="image-wrapper" mat-card-image>
		<img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
	</div>
	<mat-card-content>
		<p>
			{{ securityGroup.name }}
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button 
			mat-button
			mat-raised-button 
			*ngIf="pending === false && approved === false"
			(click)="raiseAccessRequest()"
		>
			Request Access
		</button>
	</mat-card-actions>
</mat-card>