@import "../../../styles/index.scss";

.expanded{
	height: 150px;
}

.expanded .navlinks-container{
	margin-top: 85px;
}

.logo > span {
	font-size: 0.8em;
}

a{
	color: inherit;
	text-decoration: none;
	
	&.active{
		text-decoration: underline;
	}
}

mat-toolbar{
	display: flex;
	justify-content: space-between;
}

.navlinks-container{
	flex-grow: 2;
	padding-left: 20px;
	padding-right: 5%;
	max-width: calc(100% - 100px);
}

.navigation-items{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0px;

	li{
		font-size: 0.9em;
		color: text-colors(primary-inverse-subdued-1);
	}
}