<mat-toolbar color="primary">
    <div>
      <a class="logo" routerLink="/home">
        DeCKR
      </a>
    </div>
    <div class="navlinks-container">
      <ul class="navigation-items">
        <li>
          <a (click)="setActiveRoute('register')" routerLink="/register" [ngClass]="{'active': activeRoute === 'register'}">Register</a>
        </li>
        <li>
          <a (click)="setActiveRoute('login')" [ngClass]="{'active': activeRoute === 'login'}" routerLink="/login">Login</a>
        </li>
        <li>
          <a (click)="setActiveRoute('training')" [ngClass]="{'active': activeRoute === 'training'}" routerLink="/training">Training</a>
        </li>
        <li>
          <a (click)="setActiveRoute('securitygroups')" [ngClass]="{'active': activeRoute === 'securitygroups'}" routerLink="/securitygroups">Groups</a>
        </li>
        <li>
          <a (click)="setActiveRoute('contracts')" [ngClass]="{'active': activeRoute === 'contracts'}" routerLink="/contracts">Contracts</a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="menu">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>