<mat-toolbar color="primary">
    <div>
      <a class="logo" routerLink="/">
        DeCKR
      </a>
    </div>
    <div class="navlinks-container">
      <ul fxLayout class="navigation-items">
        <li *ngIf="!(isAuth)">
          <a (click)="setActiveRoute('register')" routerLink="/register" [ngClass]="{'active': activeRoute === 'register'}">Register</a>
        </li>
        <li *ngIf="!(isAuth)">
          <a (click)="setActiveRoute('login')" [ngClass]="{'active': activeRoute === 'login'}" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth">
          <a (click)="setActiveRoute('training')" [ngClass]="{'active': activeRoute === 'training'}" routerLink="/training">Plan</a>
        </li>
        <li *ngIf="isAuth">
          <a (click)="setActiveRoute('securitygroups')" [ngClass]="{'active': activeRoute === 'securitygroups'}" routerLink="/securitygroups">Today</a>
        </li>
        <li  *ngIf="isAuth">
          <a (click)="setActiveRoute('contracts')" [ngClass]="{'active': activeRoute === 'contracts'}" routerLink="/contracts" >Trends</a>
        </li>
        <li *ngIf="isAuth">
          <a style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="menu">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>