@import "../../../styles/index.scss";


a{
	color: inherit;
	text-decoration: none;
}

mat-toolbar{
	display: flex;
	justify-content: space-between;
}

.navlinks-container{
	
}

.navigation-items{
	display: flex;
	justify-content: space-around;
	flex-grow: 2;
	list-style-type: none;

	li{
		font-size: 0.9em;
		color: colors(primary-inverse-subdued-1);
	}
}