
form{
	margin-top: 50px;
}
  
mat-form-field {
	width: 300px;
}

button.submit{
	margin-top: 30px;	
}

button.login-as-admin{
	position: absolute;
	top: 30px;
	left: 30px;
}

button.login-as-user{
	position: absolute;
	top: 60px;
	left: 30px;
}