<!-- <mat-card>
	<app-progress-indicator
		[complete]="complete"
		[total]="total"
	></app-progress-indicator>
</mat-card>
 -->

 <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
	<ng-container matColumnDef="employeeID">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> employeeID </th>
		<td mat-cell *matCellDef="let user"> {{ user.employeeID }} </td>
	</ng-container>
	
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
		<td mat-cell *matCellDef="let user"> {{ user.name }} </td>
	</ng-container>	

	<ng-container matColumnDef="completedTime">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Completed </th>
		<td mat-cell *matCellDef="let user"> {{ user.completedTime }} </td>
	</ng-container>
	
	<ng-container matColumnDef="totalTime">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
		<td mat-cell *matCellDef="let user"> {{ user.totalTime }} </td>
	</ng-container>

	<ng-container matColumnDef="percentComplete">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> % Complete </th>
		<td mat-cell *matCellDef="let user"> {{ user.completedTime / user.totalTime }} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- 
completedTime: 15,
employeeID: 1,
name: "Test IT User",
totalTime: 1299 -->