@*/*****************************************************
    * Project Name: DeCKR                                *
    * Date: 07/09/2019                                   *
    * Course: CSC 687 - Computer Science Project II      *
    * Instructor: Mudasser Wyne                           *
    ******************************************************/*@

<div class="jumbotron">
    <h1>API Home</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>User</h2>
        <p>All Users - <a href="http://~/api/user" target="_blank">//api/user</a></p>
        <p>Get Single User Info - <a href="http://~/api/user/SingleUser/1" target="_blank">//api/user/SingleUser/1</a> </p>
        <p>Get Department Users Info - <a href="http://~/api/user/DepartmentUsers/1" target="_blank">//api/user/DepartmentUsers/1</a> </p>
        <p>Register User  - <a href="http://~/api/user/post?name=name1&emailaddress=emailaddress1&jobrole=jobrole1&password=password1" target="_blank">//api/user/post?name=name1&emailaddress=emailaddress1&jobrole=jobrole1&password=password1</a> </p>
    </div>
    <div class="col-md-4">
        <h2>User Home</h2>
        <p>Get user Summary - <a href="http://~/api/userhome" target="_blank">//api/userhome</a></p>
        <p>Get Security Summary - <a href="http://~/api/userhome/SecurityProgress" target="_blank">//api/userhome/SecurityProgress</a> </p>
        <p>Get Training Summary  - <a href="http://~/api/userhome/TrainingProgress" target="_blank">//api/userhome/TrainingProgress</a> </p>
        <p>Get Contract Summary  - <a href="http://~/api/userhome/ContractProgress" target="_blank">//api/userhome/ContractProgress</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Department</h2>
        <p>All Departments  - <a href="http://~/api/department" target="_blank">//api/department</a> </p>

    </div>
    <div class="col-md-4">
        <h2>JobRole</h2>
        <p>All Job Roles  - <a href="http://~/api/jobrole" target="_blank">//api/jobrole</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Contract</h2>
        <p>All Contracts  - <a href="http://~/api/contract" target="_blank">//api/contract</a> </p>
        <p>Get Single Contract  - <a href="http://~/api/contract/SingleContract/1" target="_blank">//api/contract/SingleContract/1</a>  </p>
        <p>Get User Contracts  - <a href="http://~/api/contract/UserContracts/1" target="_blank">//api/contract//UserContracts/1</a>  </p>
        <p>Sign/Unsign Contract  - <a href="http://~/api/contract/post?Id=1&contractId=1&sign=true" target="_blank">//api/contract/post?Id=1&contractId=1&sign=true</a> </p>

    </div>
    <div class="col-md-4">
        <h2>Security Group</h2>
        <p>All Security Groups - <a href="http://~/api/SecurityGroup" target="_blank">//api/SecurityGroup</a>  </p>
        <p>Get Single Security Group  - <a href="http://~/api/SecurityGroup/SingleSecurity/1" target="_blank">//api/SecurityGroup/SingleSecurity/1</a>  </p>
        <p>Get User Security Groups - <a href="http://~/api/SecurityGroup/UserSecurityGroups/1" target="_blank">//api/SecurityGroup/UserSecurityGroups/1</a>  </p>
        <p>Set Security Group  - <a href="http://~/api/SecurityGroup/post?employeeId=1&securityId=1&status=Pending" target="_blank">//api/SecurityGroup/post??employeeId=1&securityId=1&status=Pending</a> </p>

    </div>
    <div class="col-md-4">
        <h2>Training</h2>
        <p>All Trainings  - <a href="http://~/api/Training" target="_blank">//api/Training</a> </p>
        <p>Get Single Training  - <a href="http://~/api/Training/SingleTraining/1" target="_blank">//api/Training/SingleTraining/1</a>  </p>
        <p>Get User Trainings - <a href="http://~/api/Training/UserTrainings/1" target="_blank">//api/Training/UserTrainings/1</a>  </p>
        <p>Set Training Status  - <a href="http://~/api/training/post?employeeID=1&trainingId=1&status=Current&progress=10" target="_blank">//api/training/post?employeeID=1&trainingId=1&status=Current&progress=10</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Admin Home</h2>
        <p>All Users Progress  - <a href="http://~/api/adminhome" target="_blank">//api/adminhome</a> </p>
        <p>Single User Progress - <a href="http://~/api/adminhome/SingleUserProgress/1" target="_blank">//api/adminhome/SingleUserProgress/1</a>  </p>
        <p>Department Progress  - <a href="http://~/api/adminhome/DepartmentProgress/1" target="_blank">//api/adminhome/DepartmentProgress/1</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Admin Settings</h2>
        <p>All Users Settings  - <a href="http://~/api/adminsettings" target="_blank">//api/adminsettings</a> </p>
        <p>Get User Settings - <a href="http://~/api/adminsettings/UserSettings/1" target="_blank">//api/adminsettings/UserSEttings/1</a>  </p>
        <p>Get Department Settings  - <a href="http://~/api/adminsettings/DepartmentSettings/1" target="_blank">//api/adminsettings/DepartmentSettings/1</a> </p>
    </div>
</div>
