main{
    padding: 30px;
	min-height: 1000px;
	max-height: none;
    overflow: hidden;
    position: relative;
}

@media (max-width: 500px) { 
	main{
		padding: 10px;
	}
}

@media (max-width: 500px) { 
	::ng-deep mat-tab-body{
		padding: 0px !important;
	}
}

mat-sidenav{
	width: 250px;
}
