
<mat-card>
	<mat-card-title>
		Update Training Progress
	</mat-card-title>

	<p>
		Select your current progress on the following training:
	</p>

	<h2> {{ training.name }}</h2>

	<mat-slider 
		*ngIf="userSettings.settings[0].settingValue === true"
		min="0" 
		max="100" 
		step="10"
		tickInterval="10"
		thumbLabel  
		[(ngModel)]="sliderValue">
	</mat-slider>
	
	<h3>{{ sliderValue }} % complete</h3>

	<button *ngIf="userSettings.settings[0].settingValue === true" mat-button (click)="confirm()">Confirm</button>
	<button *ngIf="userSettings.settings[0].settingValue === true" mat-button matDialogClose>Cancel</button>
	<button *ngIf="userSettings.settings[0].settingValue === false" mat-button matDialogClose>Ok</button>
</mat-card>