<mat-nav-list>
	<a routerLink="/signup" class="logo">DeCKR</a>
	<mat-divider></mat-divider>
	<a 
		*ngIf="isAuth" 
		routerLink="/home" 
		class="username"
	>
		user: {{ loggedInUser.name }}
	</a>
	<a 
		*ngIf="!isAuth" 
		mat-list-item 
		routerLink="/register" 
		[ngClass]="{'active': activeRoute === '/register'}"
		(click)="close()"
	>
		<mat-icon>face</mat-icon>
		<span class="nav-caption">Register</span>
	</a>
	<a 
		*ngIf="!isAuth" 
		mat-list-item 
		routerLink="/login" 
		[ngClass]="{'active': activeRoute === '/login'}"
		(click)="close()"
	>
		<mat-icon>input</mat-icon>
		<span class="nav-caption">Login</span>
	</a>
	<mat-divider></mat-divider>
	<a 
		*ngIf="isAuth && !isAdmin" 
		mat-list-item 
		routerLink="/home" 
		[ngClass]="{'active': activeRoute === '/home'}"
		(click)="close()"
	>
		<span class="nav-caption">Dashboard</span>
	</a>
	<a 
		*ngIf="isAuth && !isAdmin" 
		mat-list-item 
		routerLink="/training" 
		[ngClass]="{'active': activeRoute === '/training'}"
		(click)="close()"
	>
		<span class="nav-caption">Training</span>
	</a>
	<a *ngIf="isAuth && !isAdmin && !isAdmin" 
		mat-list-item 
		routerLink="/securitygroups" 
		[ngClass]="{'active': activeRoute === '/securitygroups'}"
		(click)="close()"
	>
		<span class="nav-caption">Groups</span>
	</a>
	<a 
		*ngIf="isAuth && !isAdmin" 
		mat-list-item 
		routerLink="/contracts" 
		[ngClass]="{'active': activeRoute === '/contracts'}"
		(click)="close()"
	>
		<span class="nav-caption">Contracts</span>
	</a>
	<mat-divider *ngIf="isAuth"></mat-divider>
	<a *ngIf="isAuth" mat-list-item>
		<button 
			mat-icon-button 
			(click)="logout()"
		>
			<mat-icon>eject</mat-icon>
			<span class="nav-caption">Sign Out</span>
		</button>
	</a>
</mat-nav-list>