@import "../layout/layout.scss";

%item-container {
	padding: 3*$std-padding $std-padding;
	display: flex;
	flex-direction: column;
}

@mixin item_container($spacing) {
	@extend %item-container;
	
	& > * + * {
		margin-top: $spacing;
	}

	& > * {
		margin-left: auto;
		margin-right: auto;
	}
}