<h1 class="page-title">Register an Account</h1>

<section>
	<form
		fxLayout="column"
		fxLayoutAlign="center center"
		fxLayoutGap="10px"
		[formGroup]="registerForm"
		(ngSubmit)="submitForm()">
		<mat-form-field>
				<input
					type="text"
					matInput
					placeholder="Your Full Name"
					formControlName="name">
				<mat-error>Please enter your name</mat-error>
			</mat-form-field>
		<mat-form-field>
			<input
				type="email"
				matInput
				placeholder="Your email"
				formControlName="email">
			<mat-error>Please enter a valid email.</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				type="password"
				matInput
				placeholder="Your password"
				formControlName="password">
			<mat-error>Please enter a password.</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				type="password"
				matInput
				placeholder="Re-enter password"
				formControlName="confirmPassword">
			<mat-error>Please re-enter your password.</mat-error>
		</mat-form-field>
		<mat-checkbox 
			type="checkbox"
			name="agree" 
			required 
			color="primary"
			formControlName="agree"
		>
			Agree to Terms and Conditions.
		</mat-checkbox>
		<button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
		<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
	</form>
</section>