<h1 class="page-title">Your Security Groups</h1>
<div class="security-groups approved">
	<app-security-group
		class="approved"
		*ngFor="let group of approvedGroups"
		[securityGroup]="group"
		[pending]="pendingGroupNumbers.indexOf(group.id) > -1"
		[approved]="approvedGroupNumbers.indexOf(group.id) > -1"
	>
	</app-security-group>	
</div>

<h1 class="page-title">Other Security Groups</h1>

<div class="security-groups denied">
	<app-security-group
		class="denied"
		*ngFor="let group of deniedGroups"
		[securityGroup]="group"
		[pending]="false"
		[approved]="false"
		(accessRequestRaised)="raiseAccessRequest(group)"
	>
	</app-security-group>
</div>	
