<div class="security-groups">
	<div *ngFor="let securityGroup of securityGroups" class="security-group-wrapper" >
		<mat-card [ngClass]="{'pending': securityGroup.status === 'Pending'}" >
			<mat-card-title class="name">
				{{ securityGroup.name }}
			</mat-card-title>
			<div class="icon-wrapper">
				<img src="../../../../../../assets/{{securityGroup.iconName}}.png" alt="">
			</div>	
			<div *ngIf="securityGroup.status === 'Pending'" class="pending">pending</div>
		</mat-card>
	</div>
</div>